<h1>Editing Subcategory</h1>
<br />
<%= render 'form', subcategory: @subcategory %>
<br />
<%= link_to 'Show', @subcategory, class:"btn btn-secondary" %>
<%= link_to 'Back', subcategories_path, class:"btn btn-dark" %>