<h1>Editing Language</h1>
<br />
<%= render 'form', language: @language %>
<br />
<%= link_to 'Show', @language, class:"btn btn-secondary" %>
<%= link_to 'Back', categories_path, class:"btn btn-dark" %>