<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>
<br />
<%= link_to 'Edit', edit_language_path(@language), class:"btn btn-success" %>
<%= link_to 'Back', languages_path, class:"btn btn-dark" %>
